@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:wght@300&display=swap');
/*
font-family: 'Courgette', cursive;
font-family: 'Poppins', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: white;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5%;
    height: 85px;
    list-style: none;
    font-size: 25px;
}

.logo {
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.logogo {
    height: 45px;
    padding-left: 11px;
}

.logotxt {
    padding: none;
    font-size: 15px;
}

.boton1 {
    font-size: 25px;
    background-color: black;
    color: white;
    border-radius: 7px;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
}

li {
    list-style: none;
}

.navbar .links {
    display: flex;
    gap: 55px;
}
main {
    padding: 0 5%;
    display: flex;
}

section .primerdiv {
    display: flex;

}

div .primerh2 {
    font-family: 'Courgette', cursive;
    font-size: 50px;
}

div .imgh2 {
    height: 50px;
    padding: 0 30px;
}

section .segundodiv {
    font-family: 'Poppins', sans-serif;
    width: 80%;

}

div .primerh1 {
    font-size: 60px;
}

div .p {
    font-size: 20px;
}

section .tercerdiv {
    display: flex;
    justify-content: space-between;
}

.boton2 {
    font-size: 20px;
    background-color: black;
    color: white;
    border-radius: 7px;
    border: black solid;
    padding: 10px 25px;
    cursor: pointer;
}

.boton3 {
    font-size: 20px;
    background-color: white;
    color: black;
    border-radius: 7px;
    border: solid;
    padding: 10px 25px;
    cursor: pointer;
}

.flecha {
    height: 100px;
    padding-left: 300px;
}

.cuartodiv {
    display: flex;
    height: 150px;
    align-items: center;
    width: 80%;
    justify-content: space-between;
}

div .divlgp {
    width: 25%;
    height: auto;
}

.Tarjetaa {
    justify-content: center;
}

section .imgtarjeta {
    align-items: center;
    height: 500px;
    rotate: -30deg;
    padding-top: 100px;
    padding-left: 100px;
}

.seccion2 {
    width: 3000px;
}

.seccion3 {
    height: 130px;
    display: flex;
    width: 100%;
    background-color: #51619E;
    align-items: center;
    /*padding:5px 10%;*/
    justify-content: space-around;
}

section .contenedorimg {
    
    display: flex;
    height: 70px;
    justify-content: center;
    /*border-right: 3px black solid;*/

}

.logoamazon {
    border-right: 3px black solid;
    padding: 0 70px;  
}

.logogoogle {
    border-right: 3px black solid;
    padding: 0 70px;  
}

.logofacebook {
    border-right: 3px black solid;
    padding: 0 70px;  
}

.logosamsung {
    padding: 0 70px;  
}
